.dc #masthead {
	background-color: rgb(73,111,135);
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(https://www.houstonpublicmedia.org/assets/images/diversecity/Slowed-nighttime-still.jpg);
	background-size: cover;
	overflow: hidden;
}
.dc #masthead .site-branding .site-logo a {
	background-image: url(https://www.houstonpublicmedia.org/assets/images/diversecity/KO_2Line.png);
}
.dc #masthead .site-branding .site-logo {
	width: 10em;
	height: 6em;
	padding: 1em 0 0 1em;
}
.dc #masthead .dc-logo {
	padding: 0.5em;
	width: 100%;
	position: relative;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}
.dc #masthead .dc-logo a {
	display: block;
	width: 50%;
	margin: 0 25%;
	padding-bottom: calc(50%/3.03333333);
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(https://www.houstonpublicmedia.org/assets/images/diversecity/DC_Header-DiverseCityLOGO.png);
	background-size: contain;
	font: normal 1em/1em arial;
}
body.dc #masthead #top-mobile-menu {
	background-color: transparent;
	color: white;
	border-left: 1px solid white;
	width: 6em;
	height: 6em;
	padding: 1.5em;
}
body.dc #masthead #top-mobile-menu .fa {
	font: normal 2.5em/1.25em 'FontAwesome';
}
body.dc #masthead #top-mobile-menu .genericons-neue {
	font: normal 3em/1em 'Genericons-Neue';
}
body.dc.page #main {
	background-color: transparent;
}
.dc #masthead nav#site-navigation {
	background-color: rgb(73,111,135);
	border-left: 1px solid white;
}
.dc #masthead #top-search {
	background-color: transparent;
}
.dc #masthead #top-search .genericons-neue {
	color: white;
	position: absolute;
	top: 0.375em;
	left: 0.25em;
	font-size: 3em;
}
.dc #masthead #top-search .genericons-neue.genericons-neue-close-alt {
	display: none;
}
.dc #masthead #top-search .search-field {
	color: white;
	padding: 0;
	border-bottom: 1px solid white;
	margin: 0 0 0 1.25em;
	width: 80%;
}
.dc #masthead #top-search .search-field::-webkit-input-placeholder {
	color: rgba(73,111,135,0);
}
.dc #masthead #top-search .search-field:-moz-placeholder {
	color: rgba(73,111,135,0);
}
.dc #masthead #top-search .search-field::-moz-placeholder {
	color: rgba(73,111,135,0);
}
.dc #masthead #top-search .search-field:-ms-input-placeholder {
	color: rgba(73,111,135,0);
}
.dc #masthead nav#site-navigation div.nav-top,
.dc #masthead nav#site-navigation .nav-top a {
	font: normal 1.5em/1.5em 'MiloOT-XLight',arial, helvetica, sans-serif;
	color: white;
	text-transform: uppercase;
	padding: 0.5em 0 0.25em 2em;
}
.dc #masthead #dc-social {
	overflow: hidden;
	width: 100%;
	padding: 1em 0 1em 2em;
}
.dc #masthead #dc-social #dc-search {
	display: none;
}
.dc #masthead #dc-social div {
	float: left;
	padding: 0.5em 1em;
}
.dc #masthead #dc-social .fa {
	font: normal 3em/1em 'fontawesome';
	color: white;
}
.dc #masthead #dc-social #dc-facebook .fa,
.dc #masthead #dc-social #dc-twitter .fa {
	color: rgb(77,111,135);
	-webkit-text-stroke: 1px #fff;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
footer#colophon {
	border-bottom: 0.25em solid rgb(77,111,135);
}
#dc-jump {
	position: fixed;
	z-index: 9999;
	right: 1em;
	bottom: 1em;
	display: block;
	width: 2em;
	height: 2em;
	background-color: rgba(77,111,135,1);
	text-align: center;
	color: white;
}
#dc-jump .fa {
	font: normal 1.5em/1.25em FontAwesome;
}
.dc article {
	margin: 1em 0;
	width: 100%;
	padding: 1em 0;
}
.dc article.dc-top {
	margin: 1em 0 0;
	border: 0;
}
.dc.page-template-page-diversecity-home article.dc-top {
	margin: 1em 0;
	border: 0;
	padding: 0;
}
.dc h3.toptag {
	background-color: #cc0000;
	color: white;
	display: inline-block;
	padding: 0.4em;
	text-transform: initial;
	margin: 0 0 0 1em;
	font: normal 1.25em/1em 'MiloOT-Bold',arial,helvetica,sans-serif;
}
.dc article header {
	padding: 1em;
}
.dc article header.entry-header .byline-date {
	display: none;
	color: rgb(51,51,51);
	font: normal 1em/1.25em 'MiloOT-Light',arial,sans-serif;
}
.dc.post-template-page-diversecity-single article header.entry-header .byline-date {
	display: block;
}
.dc article header.entry-header .byline-date a {
	color: rgb(73,111,135);
}
.dc article header.entry-header p {
	font: normal 1.125em/1.25em 'MiloOT-Light',arial,helvetica,sans-serif;
	color: rgb(51,51,51);
}
.dc article h2 a {
	font: normal 1.25em/1.25em 'MiloOT-XBold',arial,helvetica,sans-serif;
	color: #cc0000;
}
.dc .dc-readmore {
	font-style: italic;
	font-family: 'MiloOT-Medi',arial,helvetica,sans-serif;
	color: rgb(73,111,135);
}
.dc article .thumbnail-wrap {
	padding-bottom: calc( 100%/1.75 );
}
.dc.page-template-page-diversecity-home article.dc-top .thumbnail-wrap {
	padding-bottom: calc( 100%/2 );
}
.dc.page-template-page-diversecity-home article.dc-top .entry-header p a {
	font: normal 1em/1.25em 'MiloOT-Medi',arial,helvetica,sans-serif;
	color: rgb(51,51,51);
}
.dc .dc-photos {
	overflow: hidden;
	width: 100%;
	padding: 1em;
	overflow: hidden;
}
.dc .dc-photos h3.toptag {
	margin: 0 40% 0 0;
}
.dc .photo-grid:nth-child(2) {
	display: none;
}
.dc .photo-grid:nth-child(3) {
	width: 50%;
	padding: 0 0.25em 0.25em 0;
	float: left;
}
.dc .photo-grid:nth-child(4) {
	width: 50%;
	padding: 0 0 0.25em 0.25em;
	float: left;
}
.dc .photo-grid:nth-child(5) {
	width: 100%;
	padding: 0.25em 0 0 0;
	float: left;
}
.dc .photo-grid:nth-child(6),
.dc .photo-grid:nth-child(7) {
	display: none;
}
.dc .dc-column-left section,
.dc .dc-column-right section {
	padding: 1em;
	margin-bottom: 1em;
	overflow: hidden;
}
.dc .dc-column-left section article,
.dc .dc-column-right section article {
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
}
.dc .dc-column-left section article h2,
.dc .dc-column-right section article h2 {
	margin: 0;
	padding: 0;
	font: normal 1.125em/1.25em 'MiloOT-Medi',arial,helvetica,sans-serif;
}
.dc .dc-column-left section article h2 a,
.dc .dc-column-right section article h2 a {
	color: #8e9090;
	font: normal 1em/1em 'MiloOT-Light',arial,helvetica,sans-serif;
}
.dc .dc-shapes article .thumbnail-wrap,
.dc .dc-sounds-flavors article .thumbnail-wrap {
	display: none;
}
.dc .dc-column-left h3.toptag,
.dc .dc-column-right h3.toptag {
	margin: 0;
	font-size: 150%;
}
.dc .dc-column-left .dc-readmore,
.dc .dc-column-right .dc-readmore {
	margin: 0.5em 1em;
	float: right;
}
.dc .dc-column-right .dc-influencers article {
	margin-bottom: 2em;
}
.dc.post-template-page-diversecity-single article header {
	padding: 1em 1.5em;
}
.dc.post-template-page-diversecity-single article header h1 {
	margin-bottom: 0.25em;
}
.dc.post-template-page-diversecity-single article .entry-content {
	padding: 0 1.5em;
	margin: 0;
}
.dc.post-template-page-diversecity-single article .entry-content a {
	color: rgb(73,111,135);
}
.dc.post-template-page-diversecity-single .jp-gui.jp-interface {
	background-color: rgb(230,230,230);
}
.dc.post-template-page-diversecity-single #article-share .article-share-icon a {
	background-color: transparent;
}
.dc.post-template-page-diversecity-single #article-share .article-share-icon .fa {
	color: rgb(245,245,245);
	-webkit-text-stroke: 1px rgb(77,111,135);
	text-shadow: -1px -1px 0 rgb(77,111,135), 1px -1px 0 rgb(77,111,135), -1px 1px 0 rgb(77,111,135), 1px 1px 0 rgb(77,111,135);
}
.dc.page-template-page-diversecity-conversations article.dc-top h2 {
	border-bottom: 1px solid rgb(73,111,135);
	padding-bottom: 0.75em;
}
.dc.page-template-page-diversecity-conversations article h2 a,
.dc.page-template-page-diversecity-sounds-flavors article h2 a,
.dc.page-template-page-diversecity-shapes article h2 a {
	color: rgb(77,77,77);
	font: normal 0.875em/1em 'MiloOT-Light',arial,helvetica,sans-serif;
}
.dc.page-template-page-diversecity-conversations article.dc-top h2 a,
.dc.page-template-page-diversecity-sounds-flavors article.dc-top h2 a,
.dc.page-template-page-diversecity-shapes article.dc-top h2 a {
	color: rgb(73,111,135);
	font: normal 1.125em/1.125em 'MiloOT-Light',arial,helvetica,sans-serif;
}
.dc.page-template-page-diversecity-influencers article.dc-top h3.dc-influencer-tag {
	color: rgb(73,111,135);
	font: normal 1.5em/1em 'MiloOT-Light',arial,helvetica,sans-serif;
	background-color: transparent;
	padding: 0;
	text-transform: none;
}
.dc.page-template-page-diversecity-influencers article h2 a {
	color: rgb(51,51,51);
	font: normal 1.125em/1.125em 'MiloOT-XBold',arial,helvetica,sans-serif;
}
.dc.page-template-page-diversecity-influencers .dc-title {
	font-family: 'MiloOT-Light',arial,helvetica,sans-serif;
	font-style: italic;
}
.dc.page-template-page-diversecity-influencers article.dc-top h2 {
	margin-bottom: 0.25em;
}
.dc.page-template-page-diversecity-influencers article.dc-top h2 a {
	color: rgb(51,51,51);
	font: normal 1.25em/1.25em 'MiloOT-XBold',arial,helvetica,sans-serif;
}
.dc .dc-play-button {
	float: left;
	margin: 0 1em 0 0.25em;
	background-color: rgb(73,111,135);
	border-radius: 3em;
}
.dc .dc-play-button .fa {
	font-size: 3em;
	color: #dfdfdf;
	display: block;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
	line-height: 1.5em;
	position: relative;
	left: 4px;
}
.dc .thumbnail-wrap .dc-play-button {
	position: absolute;
	bottom: 0.75em;
	left: 0.75em;
	margin: 0;
	background-color: #dfdfdf;
	border-radius: 2em;
}
.dc .thumbnail-wrap .dc-play-button .fa {
	font-size: 2em;
	color: rgb(73,111,135);
}
.dc #float-wrap {
	padding: 1em 0;
}
.dc #float-wrap article,
.dc .dc-column-right section article.dc-stories {
	padding: 1em;
	max-height: initial;
}
.dc #float-wrap article .entry-header {
	padding: 0;
}
.dc #float-wrap article .entry-title {
	color: #cc0000;
	border-bottom: 1px solid #cc0000;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	font-family: 'MiloOT-XBold',arial,helvetica,sans-serif;
}
.dc #float-wrap article h2,
.dc .dc-column-right section article.dc-stories h2 {
	color: rgb(51,51,51);
	font: normal 1.25em/1.25em 'MiloOT-Light',arial,helvetica,sans-serif;
	padding: 0.5em 0;
}
.dc #float-wrap article h2 a,
.dc article.dc-stories h2 a {
	color: rgb(51,51,51);
	font: normal 1em/1em 'MiloOT-Light',arial,helvetica,sans-serif;
}
.dc #float-wrap article.dc-quote h2,
.dc .dc-column-right section article.dc-quote.dc-stories h2 {
	color: rgb(73,111,135);
}
.dc #float-wrap article.grid-item--width2 .entry-content p {
	font-family: 'MiloOT-Light',arial,helvetica,sans-serif;
	color: rgb(51,51,51);
}
.dc article.dc-stories .entry-content p {
	margin: 0;
	padding: 0;
}
.dc #float-wrap .dc-readmore {
	text-decoration: none;
	font-family: 'MiloOT-Bold',arial,helvetica,sans-serif;
}
.dc #float-wrap .dc-author,
.dc article.dc-stories .dc-author {
	font: normal 90%/1em 'MiloOT-Bold',arial,helvetica,sans-serif;
	margin-bottom: 0.5em;
	color: rgb(51,51,51);
}
.dc #float-wrap .dc-desc,
.dc article.dc-stories .dc-desc {
	font: italic 85%/1em 'MiloOT-Light',arial,helvetica,sans-serif;
	color: rgb(51,51,51);
}
.dc .dc-about,
.dc .dc-credits {
	padding: 1em;
}
.dc .dc-about .dc-about-wrap,
.dc .dc-credits .dc-credits-wrap {
	padding: 1em;
	background-color: white;
	overflow: hidden;
}
.dc .dc-about .dc-about-wrap h2 {
	color: #cc0000;
	border-bottom: 1px solid #cc0000;
	padding-bottom: 0.5em;
	font: normal 1.25em/1.25em 'MiloOT-Bold',arial,helvetica,sans-serif;
}
.dc .dc-about .dc-about-wrap p {
	font: normal 1em/1.5em 'MiloOT-Light',arial,helvetica,sans-serif;
}
.dc .dc-credits .dc-credits-wrap ul {
	margin: 0;
	float:  left;
	width: 50%;
}
.dc .dc-credits .dc-credits-wrap ul ul {
	margin: 0 0 0 1em;
	float:  none;
	width: auto;
}
.dc .dc-credits h2 {
	font: normal 1.125em/1.25em 'MiloOT-Medi',arial,helvetica,sans-serif;
	text-align: center;
}
.dc .dc-credits .dc-credits-wrap ul li {
	padding: 0.25em 0;
	font: normal 0.9em/1em 'MiloOT-Light',arial,helvetica,sans-serif;
}
.dc .dc-credits .dc-credits-wrap ul li strong {
	font-family: 'MiloOT-Medi',arial,helvetica,sans-serif;
	font-weight: normal;
}
body.dc.single #main {
	background-color: transparent;
}

/**
 * Tablet 481px-800px
 */

@media screen and (min-width: 30.0625em) {
	.dc #masthead .dc-logo a {
		width: 33%;
		margin: 0 33%;
		padding-bottom: calc(33%/3.03333333);
	}
	.dc .dc-column-right {
		float: right;
		overflow: hidden;
		width: 50%;
	}
	.dc .dc-column-left {
		float: left;
		overflow: hidden;
		width: 50%;
	}
	.dc #float-wrap .grid-sizer {
		margin: 0 2.5% 0;
		width: 45%;
	}
	.dc #float-wrap article.grid-item {
		margin: 0 2.5% 1em;
		width: 45%;
	}
	.dc #float-wrap article.grid-item.grid-item--width2 {
		margin: 0 2.5% 1em;
		width: 95%;
	}
	.dc .dc-credits {
		clear: both;
	}
	.dc .dc-credits .dc-credits-wrap ul {
		width: 33.33333%;
	}
	body.dc.single #main {
		background-color: transparent;
	}
}

/**
 * Desktop Small 801px-1024px
 */

@media screen and (min-width: 50.0625em) {
	.dc #masthead {
		background-color: rgb(73,111,135);
		position: relative;
		max-width: 100%;
		min-width: auto;
		margin: 0;
		height: auto;
		background-image: url(https://www.houstonpublicmedia.org/assets/images/diversecity/Slowed-nighttime-6.gif);
	}
	.dc.page-template-page-diversecity-home #content {
		max-width: 100%;
	}
	.dc .dc-homewrap {
		max-width: 64em;
		margin: 0 auto;
	}
	.dc .container {
		background-color: transparent;
		width: 100%;
		height: auto;
		border-bottom: 0;
	}
	.dc .site-branding {
		background-color: transparent;
		position: relative;
		max-width: 64em;
		min-width: 51.25em;
		margin: 0 auto;
		height: 10.75em;
		overflow: hidden;
	}
	.dc #masthead .site-branding .site-logo a {
		background-image: url(https://www.houstonpublicmedia.org/assets/images/diversecity/DC_Header-HPMLOGO.png);
		width: 100%;
		height: 0;
		padding-bottom: calc(100%/3.2058823529);
	}
	.dc #masthead .site-branding .site-logo {
		width: 14em;
		padding: 0;
		position: absolute;
		left: 1em;
		bottom: 2.125em;
		height: auto;
	}
	.dc #masthead .dc-logo {
		width: 50%;
		border: 0;
		position: absolute;
		left: 25%;
		bottom: 1.875em;
		padding: 0;
	}
	.dc #masthead .dc-logo a {
		width: 50%;
		margin: 0 auto;
		padding-bottom: calc(50%/3.03333333);
	}
	.dc #masthead #top-search {
		display: none;
		z-index: 9999;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(77,111,135,0.75);
	}
	.dc #masthead #top-search .genericons-neue {
		top: 0;
		font-size: 2.5em;
		left: -1em;
	}
	.dc #masthead #top-search .genericons-neue.genericons-neue-close-alt {
		display: block;
	}
	.dc #masthead #dc-social {
		position: absolute;
		right: 0;
		top: -5em;
		width: auto;
		padding: 0;
	}
	.dc #masthead #dc-social #dc-search {
		display: block;
	}
	.dc #masthead #dc-social .fa {
		font: normal 2em/1em 'fontawesome';
		color: white;
	}
	.dc #masthead #dc-social .genericons-neue {
		font: normal 2em/1em 'Genericons-Neue';
		color: white;
	}
	.dc #masthead nav#site-navigation {
		border-left: 0;
		background-color: #fff;
		width: 100%;
		position: relative;
		top: initial;
		left: initial;
		bottom: initial;
		border-left: 0;
		overflow: visible;
		height: auto;
	}
	.dc #masthead nav#site-navigation .dc-nav-container {
		position: relative;
		max-width: 64em;
		min-width: 51.25em;
		margin: 0 auto;
	}
	.dc #masthead nav#site-navigation div.nav-top,
	.dc #masthead nav#site-navigation .nav-top a {
		font: normal 1em/1.125em 'MiloOT-Light',arial, helvetica, sans-serif;
		padding: 1.25em;
		color: rgb(73,111,135);
		border: 0;
	}
	.dc #masthead nav#site-navigation div.nav-top.current_page_item,
	.dc #masthead nav#site-navigation .nav-top.current_page_item a {
		font: normal 1.125em/1.125em 'MiloOT-XBold',arial, helvetica, sans-serif;
		color: #cc0000;
	}
	.dc #masthead nav#site-navigation ul li {
		padding: 0;
		-ms-flex: initial;
		-webkit-flex-grow: initial;
		-webkit-flex-basis: initial;
		flex-grow: initial;
	}
	.dc #masthead #top-search .dc-search-wrap {
		width: 33%;
		margin: 0 auto 0;
		top: 40%;
		position: relative;
	}
	.dc #masthead #top-search .search-field::-webkit-input-placeholder {
		color: rgba(73,111,135,0);
	}
	.dc #masthead #top-search .search-field:-moz-placeholder {
		color: rgba(73,111,135,0);
	}
	.dc #masthead #top-search .search-field::-moz-placeholder {
		color: rgba(73,111,135,0);
	}
	.dc #masthead #top-search .search-field:-ms-input-placeholder {
		color: rgba(73,111,135,0);
	}
	.dc #masthead #top-search .search-field {
		background-color: transparent;
		padding: 0 0.25em;
		margin: 0;
		width: 100%;
		font: normal 2em/1em 'MiloOT-Light',arial,sans-serif;
	}
	#dc-jump {
		display: none;
	}
	#dc-search-close {
		position: absolute;
		right: -5em;
		top: -3em;
	}
	.dc article {
		margin: 1em 5%;
		width: 90%;
		padding: 1em;
		background-color: white;
		position: relative;
	}
	.dc.single article {
		border: 0;
	}
	.dc article.dc-top {
		margin: 1em 2.5% 0;
		width: 95%;
		padding: 1em 1em 0 1em;
	}
	.dc.page-template-page-diversecity-home article.dc-top {
		margin: 1em 0;
		width: 100%;
		padding: 0;
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header {
		width: 100%;
		margin: 0 auto;
		bottom: 0;
		padding: 0;
		/* background: transparent; */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header .entry-header-wrap {
		margin: 0 auto;
		width: 100%;
		max-width: 60em;
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header h2 {
		margin: 0;
		padding: 2em 0 0.75em;
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header h2 a {
		color: white;
		font: normal 1.75em/1.25em 'MiloOT-Bold',arial,helvetica,sans-serif;
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header p {
		max-width: 24em;
		margin: 0;
		padding: 0 0 2em;
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header p a {
		color: white;
		font: normal 1.125em/1.25em 'MiloOT-Medi',arial,helvetica,sans-serif;
	}
	.dc.page-template-page-diversecity-home article.dc-top .thumbnail-wrap {
		padding-bottom: calc(100%/2.25);
	}
	.dc h3.toptag {
		display: none;
	}
	.dc h3.toptag.sections {
		display: inline-block;
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}
	.dc article.dc-top header {
		background-color: white;
		position: absolute;
		right: 0;
		bottom: 3em;
		width: 66%;
		border: 0;
	}
	.dc article header.entry-header .byline-date {
		display: block;
	}
	.dc article header p .dc-readmore {
		display: none;
	}
	.dc.page-template-page-diversecity-sounds-flavors article header p .dc-readmore,
	.dc.page-template-page-diversecity-shapes article header p .dc-readmore {
		display: inline-block;
	}
	.dc .dc-about {
		width: 33.333333%;
		float: left;
		padding: 0 1em 2em;
	}
	.dc .dc-about .dc-about-wrap {
		padding: 1.5em;
	}
	.dc .dc-about .dc-about-wrap p {
		font: normal 1.125em/1.5em 'MiloOT-Light',arial,helvetica,sans-serif;
	}
	.dc .dc-photos {
		width: 64.166667%;
		margin: 0 2.5% 2em 0;
		padding: 0;
		float: left;
	}
	.dc .photo-grid:nth-child(2) {
		float: left;
		width: 31.833333%;
		padding: 0;
		display: block;
		margin: 0 1.5% 1em 0;
	}
	.dc .photo-grid:nth-child(2) .thumbnail-wrap {
		padding-bottom: calc(100%/0.98);
		background-color: #cc0000;
	}
	.dc .photo-grid:nth-child(2) .thumbnail-wrap a {
		color: white;
		font: normal 1.75em/1.25em 'MiloOT-Bold',arial,helvetica,sans-serif;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		padding: 0 1.5em;
	}
	.dc .photo-grid:nth-child(2) .thumbnail-wrap a span span {
		font-size: 75%;
		font-family: 'MiloOT-Light',arial,helvetica,sans-serif;
		font-style: italic;
	}
	.dc .photo-grid:nth-child(3) {
		width: 65.166667%;
		padding: 0;
		float: left;
		margin: 0 0 1em 1.5%;
	}
	.dc .photo-grid:nth-child(3) .thumbnail-wrap {
		padding-bottom: calc(100%/2);
	}
	.dc .photo-grid:nth-child(4) {
		width: 100%;
		padding: 0;
		margin: 0 0 1em 0;
	}
	.dc .photo-grid:nth-child(4) .thumbnail-wrap {
		padding-bottom: calc(100%/2.4);
	}
	.dc .photo-grid:nth-child(5) {
		display: none;
	}
	.dc .dc-column-right {
		width: 40%;
	}
	.dc .dc-column-left {
		width: 60%;
	}
	.dc .dc-column-left section.dc-shapes article,
	.dc .dc-column-left section.dc-sounds-flavors article {
		width: 32%;
		margin: 0 0 1em 0;
		height: 16em;
		padding: 0.5em;
		position: static;
		border: 0;
	}
	.dc .dc-column-left section.dc-shapes article:nth-child(3),
	.dc .dc-column-left section.dc-sounds-flavors article:nth-child(3) {
		margin: 0 2% 1em 0;
	}
	.dc .dc-column-left section.dc-shapes article:nth-child(5),
	.dc .dc-column-left section.dc-sounds-flavors article:nth-child(5) {
		margin: 0 0 1em 2%;
	}
	.dc .dc-shapes article .thumbnail-wrap,
	.dc .dc-sounds-flavors article .thumbnail-wrap {
		display: block;
	}
	.dc .dc-column-left .dc-readmore, .dc .dc-column-right .dc-readmore {
		margin: 0 25% 0 1em;
		float: none;
	}
	.dc .dc-column-left section.dc-conversations article {
		margin: 0 0 1em 0;
		width: 100%;
		padding: 0;
		position: relative;
	}
	.dc .dc-column-left section.dc-conversations article header {
		background-color: white;
		position: absolute;
		right: 0;
		bottom: 2em;
		width: 66%;
		border: 0;
	}
	.dc .dc-column-left section.dc-conversations article h2.entry-title {
		margin-bottom: 0.75em;
	}
	.dc .dc-column-left section.dc-conversations article h2 a {
		font: normal 1.25em/1.25em 'MiloOT-XBold',arial,helvetica,sans-serif;
		color: rgb(51,51,51);
	}
	.dc .dc-column-left section.dc-conversations article p {
		margin-bottom: 0;
	}
	.dc .dc-column-left section.dc-conversations article p a {
		color: rgb(51,51,51);
		font-style: italic;
	}
	.dc .dc-conversations article .thumbnail-wrap {
		padding-bottom: calc(100%/1.7);
	}
	.dc.post-template-page-diversecity-single .jp-gui.jp-interface {
		background-color: rgb(245,245,245);
	}
	.dc.post-template-page-diversecity-single #article-share {
		position: static;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		width: 100%;
		padding: 1em 0;
	}
	.dc.post-template-page-diversecity-single #article-share .article-share-icon .fa {
		color: #fff;
	}
	.dc.page-template-page-diversecity-conversations article.dc-top,
	.dc.page-template-page-diversecity-influencers article.dc-top,
	.dc.page-template-page-diversecity-sounds-flavors article.dc-top,
	.dc.page-template-page-diversecity-shapes article.dc-top {
		margin: 1em 0 2em;
		padding: 0;
		width: 100%;
	}
	.dc.page-template-page-diversecity-conversations section h3.toptag.sections,
	.dc.page-template-page-diversecity-influencers section h3.toptag.sections,
	.dc.page-template-page-diversecity-sounds-flavors section h3.toptag.sections,
	.dc.page-template-page-diversecity-shapes section h3.toptag.sections {
		margin: 0 70% 1em 0;
	}
	.dc.page-template-page-diversecity-conversations section article,
	.dc.page-template-page-diversecity-sounds-flavors section article,
	.dc.page-template-page-diversecity-shapes section article {
		margin: 0 1% 1em 0;
		border: 0;
		padding: 1em;
		float: left;
		width: 19.2%;
	}
	.dc.page-template-page-diversecity-conversations section article:nth-child(5n+6), .dc.page-template-page-diversecity-sounds-flavors section article:nth-child(5n+6), .dc.page-template-page-diversecity-shapes section article:nth-child(5n+6) {
		margin: 0 0 1em 0;
	}
	.dc.page-template-page-diversecity-influencers section article {
		margin: 0 2% 1em 0;
		border: 0;
		padding: 1em;
		float: left;
		width: 32%;
	}
	.dc.page-template-page-diversecity-influencers section article:nth-child(3n) {
		margin: 0 0 1em 0;
	}
	.dc.page-template-page-diversecity-conversations section article header,
	.dc.page-template-page-diversecity-influencers section article header,
	.dc.page-template-page-diversecity-sounds-flavors section article header,
	.dc.page-template-page-diversecity-shapes section article header {
		padding: 1em 0 0;
	}
	.dc.page-template-page-diversecity-conversations section article .thumbnail-wrap,
	.dc.page-template-page-diversecity-influencers section article .thumbnail-wrap,
	.dc.page-template-page-diversecity-sounds-flavors section article .thumbnail-wrap,
	.dc.page-template-page-diversecity-shapes section article .thumbnail-wrap {
		padding-bottom: calc(100%/1.1666666667);
	}
	.dc.page-template-page-diversecity-influencers article.dc-top header {
		width: 50%;
		bottom: 2em;
	}
	.dc .dc-column-left section {
		padding: 0 1em 0 0;
	}
	.dc .dc-column-right section {
		padding: 1em 0 1em 1em;
	}
	.dc-container {
		width: 95%;
		margin: 0 2.5% 2em;
		overflow: hidden;
	}
	.dc #float-wrap {
		width: 90%;
		margin: 0 5% 2em;
	}
	.dc #float-wrap .grid-sizer {
		margin: 0 1.25% 0;
		width: 30.0833333%;
	}
	.dc #float-wrap article.grid-item {
		margin: 0 1.25% 1em;
		width: 30.0833333%;
	}
	.dc #float-wrap article.grid-item.grid-item--width2 {
		margin: 0 1.25% 1em;
		width: 30.0833333%;
	}
	.dc .dc-credits .dc-credits-wrap ul {
		width: 20%;
	}
	body.dc.single #main {
		background-color: transparent;
	}
}

/**
 * Desktop Large 1025px-1200px+
 */

@media screen and (min-width: 64.0625em) {
	.dc .container {
		background-color: transparent;
		width: 100%;
		border-bottom: 0;
		height: auto;
	}
	.dc.page-template-page-diversecity-home #content {
		max-width: 100%;
	}
	.dc .dc-homewrap {
		max-width: 75em;
	}
	.dc #masthead {
		position: relative;
		max-width: 100%;
		margin: 0;
	}
	.dc .site-branding {
		position: relative;
		max-width: 75em;
		margin: 0 auto;
	}
	.dc #masthead nav#site-navigation .dc-nav-container {
		max-width: 75em;
	}
	.dc #masthead nav#site-navigation ul li {
		padding: 0;
	}
	.dc article.dc-top {
		width: 100%;
		margin: 1em 0;
	}
	.dc.page-template-page-diversecity-home article.dc-top {
		width: 100%;
		margin: 1em 0;
	}
	.dc.page-template-page-diversecity-home article.dc-top .entry-header .entry-header-wrap {
		max-width: 72em;
	}
	.dc.page-template-page-diversecity-home article.dc-top .thumbnail-wrap {
		padding-bottom: calc(100%/3);
	}
	.dc .dc-container {
		margin: 0 0 2em 0;
		width: 100%;
	}
	.dc .dc-photos {
		margin: 0 0 2em 0;
		width: 66.666667%;
	}
	.dc .dc-about {
		padding: 0 1em 2em 0;
	}
	.dc .dc-about .dc-about-wrap p {
		font: normal 1.25em/1.8em 'MiloOT-Light',arial,helvetica,sans-serif;
	}
	.dc .dc-about .dc-about-wrap h2 {
		font: normal 1.5em/1.5em 'MiloOT-Bold',arial,helvetica,sans-serif;
		margin-bottom: 1em;
	}
	.dc .dc-about .dc-about-wrap {
		padding: 2em;
	}
	.dc .dc-credits {
		padding: 1em 0;
	}
	body.dc.single #main {
		background-color: transparent;
	}
}