# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/batcache/
!web/app/plugins/galleria/
!web/app/plugins/kera-passport-tools/
!web/app/plugins/ludicrousdb/
!web/app/plugins/npr-story-api/
web/app/mu-plugins/*/
web/app/debug.log
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
auth.json
web/app/themes/hpm-new/
web/app/themes/hpmv2/style-*
web/app/themes/hpmv2/front-page-*

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example
env.production
.idea
.nova

# Composer
/vendor
/composer.lock

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
