# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/kera-passport-tools/
!web/app/plugins/better-image-credits/
web/app/debug.log
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
auth.json
web/app/ewww/lazy
.docker/
docker-compose.yml

# WordPress
web/wp
.htaccess

# Dotenv
.env
.env.*
!.env.example
env.production
.idea
.nova
.DS_Store
.vscode

# Composer
/vendor
/composer.lock

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
