commands:
  01_install_php_zip:
    cwd: /tmp
    command: 'yum install -y zip unzip php71-zip --enablerepo=epel'
  02_install_php_composer:
    command: "sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer"

container_commands:
  01_install_composer_packages:
    command: "composer update"
    env: 
      "COMPOSER_HOME": "/tmp"