files:
  "/var/app/.env":
    mode: "000775"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/env.production
    authentication: S3Access

  "/var/app/plugins.zip":
    mode: "000744"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/plugins.zip
    authentication: S3Access

  "/var/app/wp_updates.php":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/wp_updates.php
    authentication: S3Access

  "/var/app/wp_sched.php":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/wp_sched.php
    authentication: S3Access

  "/var/app/show-pull.php":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/show-pull.php
    authentication: S3Access

  "/var/app/monthly-report.php":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/monthly-report.php
    authentication: S3Access

  "/var/app/client_secrets.json":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/client_secrets.json
    authentication: S3Access

  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root cd /var/www/html/web/wp; php -q wp-cron.php >/dev/null 2>&1
      0 */6 * * * ec2-user php /var/app/wp_updates.php
      0 * * * * ec2-user /usr/local/bin/wp --user=1 --path="/var/www/html/web/wp" eval-file /var/app/wp_sched.php
      0 */6 * * * ec2-user /usr/local/bin/wp --user=1 --path="/var/www/html/web/wp" eval-file /var/app/show-pull.php
      0 12 1 * * ec2-user /usr/local/bin/wp --user=1 --path="/var/www/html/web/wp" eval-file /var/app/monthly-report.php

  "/etc/php.d/hpm.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      [php]
      post_max_size = 1024M
      max_input_vars = 2500
      upload_max_filesize = 1024M

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: elasticbeanstalk-us-west-2-793411199968

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/mycron.bak; service crond restart"
  update_composer:
    command: "sudo composer.phar self-update --2"
  install_redis:
    command: "sudo amazon-linux-extras install redis4.0; service redis start"
  update_redis_config:
    command: "redis-cli config set maxmemory 3221225472; redis-cli config set maxmemory-policy volatile-lfu; sudo sysctl vm.overcommit_memory=1"

container_commands:
  01_chmod1:
    command: "chmod +x .platform/hooks/postdeploy/*"
  02_install_imagick:
    command: "sudo yum -y install php-pecl-imagick; sudo service php-fpm restart"
  03_install_phpredis:
    command: "sudo pecl install --configureoptions 'enable-redis-igbinary=\"no\" enable-redis-lzf=\"no\" enable-redis-zstd=\"no\" enable-redis-msgpack=\"no\" enable-redis-lz4=\"no\"' redis; sudo service php-fpm restart"