files:
  "/var/app/.env":
    mode: "000775"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/env.production
    authentication: S3Access

  "/var/app/auth.json":
    mode: "000775"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/auth.json
    authentication: S3Access

  "/var/app/plugins.zip":
    mode: "000744"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/plugins.zip
    authentication: S3Access

  "/var/app/wp_updates.php":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/wp_updates.php
    authentication: S3Access

  "/var/app/php.sh":
    mode: "000744"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/php.sh
    authentication: S3Access

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/06_copy_env_files.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cp /var/app/.env /var/app/ondeck/.env
      cp /var/app/auth.json /var/app/ondeck/auth.json
      chown -R webapp:webapp /var/app/ondeck/
      export COMPOSER_HOME=/root
      composer.phar self-update

  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_install_redis.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      !/bin/bash
      MEM="$(yum info redis | grep Repo | awk '{ print $3 }')"
      if [ $MEM = "installed" ]; then
        echo ""
      else
        yum-config-manager --enable epel
		yum repolist
        yum -y install redis
        service redis start
      fi

  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root cd /var/www/html/web/wp; php -q wp-cron.php >/dev/null 2>&1
      0 */6 * * * root php /var/app/wp_updates.php
      0 */6 * * * root sh /var/app/php.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_unzip_plugins.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      unzip -qo /var/app/plugins.zip -d "/var/app/current/web/app/plugins" -x "__MACOSX/*"
      chmod -R 777 /var/app/current/web/app/uploads

  "/etc/httpd/conf.d/wp_modrewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory "/var/www/html/web">
      Options FollowSymLinks
      AllowOverride All
      DirectoryIndex index.php index.html
      Order allow,deny
      Allow from all
      <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteBase /
      RewriteRule ^index\.php$ - [L]
      RewriteCond %{REQUEST_FILENAME} !-f
      RewriteCond %{REQUEST_FILENAME} !-d
      RewriteRule . /index.php [L]
      </IfModule>
      </Directory>

  "/etc/php.d/99-hpm.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      [php]
      post_max_size = 1024M
      max_input_vars = 2500
      upload_max_filesize = 1024M

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: elasticbeanstalk-us-west-2-793411199968

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/mycron.bak; service crond restart"