files:
  "/etc/php-fpm.d/www-hpm.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [www]
      user = webapp
      group = webapp
      listen = /run/php-fpm/www.sock
      listen.acl_users = apache,nginx,webapp
      listen.allowed_clients = 127.0.0.1
      pm = static
      pm.max_children = 100
      pm.start_servers = 100
      pm.min_spare_servers = 10
      pm.max_spare_servers = 30
      pm.max_requests = 1000
      slowlog = /var/log/php-fpm/www-slow.log
      request_slowlog_timeout = 30s
      clear_env = no
      php_admin_value[error_log] = /var/log/php-fpm/www-error.log
      php_admin_flag[log_errors] = on

  "/etc/php-fpm.d/www.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [www]
      user = webapp
      group = webapp
      listen = /run/php-fpm/www.sock
      listen.acl_users = apache,nginx,webapp
      listen.allowed_clients = 127.0.0.1
      pm = static
      pm.max_children = 100
      pm.start_servers = 100
      pm.min_spare_servers = 10
      pm.max_spare_servers = 30
      pm.max_requests = 1000
      slowlog = /var/log/php-fpm/www-slow.log
      request_slowlog_timeout = 30s
      clear_env = no
      php_admin_value[error_log] = /var/log/php-fpm/www-error.log
      php_admin_flag[log_errors] = on