files:
  "/var/app/.env":
    mode: "000744"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/env.production
    authentication: S3Access

  "/var/app/plugins.zip":
    mode: "000744"
    owner: webapp
    group: webapp
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-793411199968/plugins.zip
    authentication: S3Access

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_move_env_file.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cp /var/app/.env /var/app/current/.env
      unzip -qo /var/app/plugins.zip -d "/var/app/current/web/app/plugins" -x "__MACOSX/*"

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: elasticbeanstalk-us-west-2-793411199968