body {
	--persist-unit: 4rem;
}
#jpp-player-persist {
	--plyr-control-icon-size: 2rem;
	width: 100%;
	bottom: 0;
	position: fixed;
	height: var(--persist-unit);
	z-index: 20;
	background-color: white;
	border-top: 1px solid #808080;
}
#jpp-player-persist #jpp-main {
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: center;
	grid-template-columns: var(--persist-unit) calc(100vw - (var(--persist-unit) * 2)) var(--persist-unit);
	z-index: 40;
	background-color: white;
}
#jpp-player-persist .plyr {
	min-width: auto;
}
#jpp-button-wrap {
	width: var(--persist-unit);
	height: var(--persist-unit);
	border-left: 1px solid #808080;
}
#jpp-button-wrap button {
	width: var(--persist-unit);
	height: var(--persist-unit);
	padding: 1rem;
	outline: none;
	border: 0;
}
#jpp-now-playing {
	font-weight: 500;
	padding: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 0;
}
#jpp-now-playing :is(h3,p) {
	margin: 0;
}
#jpp-now-playing p {
	text-transform: capitalize;
	font-size: 0.75rem;
}
#jpp-now-playing h3 {
	font-style: italic;
	font-size: 0.9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#jpp-player-wrap {
	border-right: 1px solid #808080;
}
#jpp-menu-wrap {
	width: 100%;
	height: 50vh;
	position: fixed;
	bottom: -50vh;
	left: 0;
	right: 0;
	transition: bottom .2s ease-out;
	overflow-y: scroll;
	overscroll-behavior: none;
	z-index: -1;
	display: flex;
	flex-flow: column nowrap;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: white;
	box-shadow: 0 0 10px #000;
}
#jpp-menu-wrap.jpp-menu-active,
#jpp-menu-wrap.jpp-menu-active.jpp-now-play {
	bottom: var(--persist-unit);
}
#jpp-menu-wrap button {
	font-weight: 500;
	font-size: 1.25em;
	width: 100%;
	margin: 0;
	padding: 1em 0.5em;
	background-color: var(--main-blue);
	color: white;
	outline: 0;
	border: 0;
	transition: opacity 0.2s ease-out;
	border: 1px solid #808080;
}
#jpp-menu {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	padding: 0;
	gap: 0;
}
#jpp-menu-wrap button.jpp-button-active {
	background-color: var(--main-background);
	color: var(--main-blue);
	border: 1px solid var(--accent-black-2);
	border-bottom-color: transparent;
}
#jpp-menu-wrap :is(#jpp-streams,#jpp-podcasts) button.jpp-button-active {
	background-color: var(--main-red);
	color: white;
	border-bottom-color: var(--accent-black-2);
}
#jpp-menu-wrap details + details {
	margin: 0;
}
#jpp-menu-wrap details button {
    padding: 0.5rem
}
#jpp-menu-wrap details > summary {
	font-size: 1.125em;
}
#jpp-menu-wrap details > * + * {
    margin-top: 0.5rem;
}
#jpp-menu-wrap details > p > a {
    color: white;
    background-color: var(--main-blue);
    text-align: center;
    padding: 0.5rem;
	display: block;
}
#jpp-submenus {
	padding: 0.5rem;
}
#jpp-submenus aside {
	display: none;
	gap: 0.5rem;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	float: none;
	padding: 0;
}
#jpp-submenus aside.jpp-section-active {
	display: grid;
}
#jpp-frame-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
}
#jpp-frame-wrap iframe {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	overflow: scroll;
	height: 100%;
	width: 100%;
	z-index: 17;
}
#jpp-frame-wrap #jpp-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.25);
	z-index: 18;
	color: white;
}
#jpp-frame-wrap #jpp-loader.hidden {
	display: none;
}
#jpp-frame-wrap #jpp-loader svg {
	height: var(--persist-unit);
	width: var(--persist-unit);
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin {
	0% { transform: rotate(0deg) }
	to { transform: rotate(1turn) }
}
body.persist-child-present {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden;
}
body.persist-child-present::-webkit-scrollbar {
	display: none;
}
body {
	padding-bottom: var(--persist-unit);
}

@media screen and (min-width: 34em) {
	#jpp-now-playing p {
		font-size: 0.9rem;
	}
	#jpp-now-playing h3 {
		font-size: 1rem;
	}
	#jpp-submenus aside {
		max-width: 75%;
	}
}
@media screen and (min-width: 52.5em) {
	#jpp-menu-wrap {
		width: 40em;
		right: 16px;
		left: calc(100vw - 40em - 16px);
		border: 1px solid var(--accent-black-2);
	}
	#jpp-player-persist #jpp-main {
		grid-template-columns: var(--persist-unit) 1fr var(--persist-unit);
	}
}