#jpp-player-persist {
	width: 100%;
	bottom: 0;
	position: fixed;
	height: 5rem;
	z-index: 20;
	background-color: white;
	--plyr-control-icon-size: 2.75rem;
	border-top: 1px solid #808080;
}
#jpp-player-persist #jpp-main {
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-items: center;
	grid-template-columns: 5rem 1fr 5rem;
	z-index: 40;
	background-color: white;
}
#jpp-player-persist .plyr {
	min-width: 5rem;
}
#jpp-button-wrap {
	width: 5rem;
	height: 5rem;
	border-left: 1px solid #808080;
}
#jpp-button-wrap button {
	width: 5rem;
	height: 5rem;
	padding: 0.5rem;
	outline: none;
	border: 0;
}
#jpp-now-playing {
	font-weight: 500;
	font-size: 1.125rem;
}
#jpp-player-wrap {
	border-right: 1px solid #808080;
}
#jpp-menu-wrap {
	width: 100%;
	height: 50vh;
	position: fixed;
	bottom: -50vh;
	left: 0;
	right: 0;
	transition: bottom .2s ease-out;
	overflow-y: scroll;
	z-index: -1;
	display: flex;
	flex-flow: row-reverse nowrap;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #f5f5f5;
}
#jpp-menu-wrap.jpp-menu-active,
#jpp-menu-wrap.jpp-menu-active.jpp-now-play {
	bottom: 5rem;
}
#jpp-menu-wrap button {
	font-weight: 500;
	font-size: 1.25em;
	width: 100%;
	margin: 0;
	padding: 1em 0.5em;
	background-color: var(--main-blue);
	color: white;
	outline: 0;
	border: 0;
	transition: opacity 0.2s ease-out;
	border-bottom: 1px solid #808080;
}
#jpp-menu {
	width: 35%;
	display: flex;
	flex-flow: column nowrap;
}
#jpp-menu button {
	border-left: 1px solid #808080;
	height: 50%;
	position: relative;
}
#jpp-menu button:nth-last-child(1) {
	border-bottom: 0;
}
#jpp-frame-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
}
#jpp-frame-wrap iframe {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	overflow: scroll;
	height: 100%;
	width: 100%;
	z-index: 17;
}
#jpp-frame-wrap #jpp-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.25);
	z-index: 18;
	color: white;
}
#jpp-frame-wrap #jpp-loader.hidden {
	display: none;
}
#jpp-frame-wrap #jpp-loader svg {
	height: 5rem;
	width: 5rem;
	animation-name: fa-spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}
body.persist-child-present {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden;
}
body.persist-child-present::-webkit-scrollbar {
	display: none;
}
#page {
	padding-bottom: 3.5em;
}