.sidebar-ad {
	height: 20rem;
	margin: 0 !important;
	div {
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		min-height: 300px;
	}
}
#div-gpt-ad-1488818411584-0 {
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	padding: 0.75rem 0;
	height: 4.625rem;
}
@media screen and (min-width: $tablet) {
	#div-gpt-ad-1488818411584-0 {
		height: 7.125rem;
	}
}
@media screen and (min-width: $desktop) {
	#div-gpt-ad-1488818411584-0 {
		height: 4.625rem;
	}
}