#masthead {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	&:before, &:after {
		content: '';
	}
	.site-branding {
		background-color: var(--main-red);
		display: grid;
		grid-template-columns: auto 5rem 5rem;
		.site-logo {
			margin: 0.375rem 1rem;
			a {
				display: block;
				width: 100%;
				height: 100%;
				background-position: left center;
				background-repeat: no-repeat;
				background-image: url('https://cdn.hpm.io/assets/images/HPM-PBS-NPR-Reverse.png');
				background-size: contain;
			}
		}
	}
	.top-mobile-text {
		font-size: 75%;
		text-transform: uppercase;
	}
	#top-donate {
		height: 5rem;
		width: 5rem;
		background-color: #A40E26;
		text-align: center;
		color: #fff;
		padding: 1rem;
		a {
			color: white;
		}
		.fas {
			font-size: 2.5rem;
			line-height: 2rem;
			margin: 0;
		}
	}
	section {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		grid-column: 1 / span 3;
		grid-row: 3;
	}
	#top-listen,
	#top-watch {
		text-align: center;
		width: 33.3333%;
		button {
			padding: 0.5rem 0;
			display: block;
			font-size: 1.25rem;
			font-family: var(--hpm-font-condensed);
			width: 100%;
			background: #404040;
			color: white;
			border: 0;
			border-radius: 0;
		}
		.fas {
			padding-right: 0.25rem;
		}
	}
	#top-watch button {
		background:#00566C;
	}
	#top-schedule {
		width: 33.33333%;
		position: relative;
		.top-schedule-link-wrap {
			position: absolute;
			top: 100%;
			width: 100vw;
			justify-content: center;
			align-items: center;
			transform: rotateX(-90deg);
			transform-origin: top center;
			opacity: 0.3;
			transition: 280ms all 120ms ease-out;
			display: flex;
		}
		&:hover,
		&:focus-within {
			.top-schedule-link-wrap {
				opacity: 1;
				transform: rotateX(0);
				visibility: visible;
			}
		}
		.top-schedule-links {
			width: 25%;
			text-align: center;
			a {
				font-size: 0.925rem;
				font-family: var(--hpm-font-condensed);
				color: white;
				display: block;
				padding: 0.25rem;
				border-left: 1px solid white;
				background-color: var(--accent-light-blue-1);
			}
			&:nth-child(1) a {
				border-left: 0;
			}
		}
		div.top-schedule-label {
			width: 100%;
			display: block;
			text-align: center;
			button {
				color: white;
				font-size: 1.25rem;
				font-family: var(--hpm-font-condensed);
				padding: 0.5rem 0;
				width: 100%;
				display: block;
				background-color: var(--accent-light-blue-1);
				border: 0;
				border-radius: 0;
			}
		}
		.fas {
			padding-right: 0.25rem;
		}
	}
	#top-search {
		width: 100%;
		background-color: rgb(242,243,243);
		padding: 1.5rem;
		position: relative;
		.fas {
			position: absolute;
			left: 0.25rem;
			color: rgb(81,82,86);
			font-size: 2rem;
			line-height: 2.75rem;
		}
		.search-field {
			border: 0;
			outline: 0;
			background-color: transparent;
			padding: 0 0 0 1.25rem;
			text-transform: lowercase;
			font-size: 2rem;
		}
	}
}
nav#site-navigation {
	height: 5rem;
	z-index: 900;
	top: 0;
	left: calc(100% - 5rem);
	overflow-y: scroll;
	overflow-x: hidden;
	transition: 280ms left ease-out;
	width: 5em;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 5em calc(100% - 5em);
	#top-mobile-menu {
		height: 5rem;
		width: 5rem;
		background-color: #C8102E;
		text-align: center;
		color: #fff;
		padding: 1rem;
		transition: all .2s ease-out;
		border: 0;
		outline: 0;
		z-index: 901;
		&:hover {
			cursor: pointer;
		}
		.icon::before {
			content: '\f0c9';
			font-size: 2.5rem;
			line-height: 2rem;
			margin: 0;
			display: inline-block;
			font-weight: 900;
			font-family: 'Font Awesome 5 Free';
			position: relative;
		}
		.top-mobile-text::before {
			content: 'MENU';
		}
	}
	&:focus-within {
		position: fixed;
		left: 0;
		height: 100vh;
		width: 100vw;
		#top-mobile-menu {
			.top-mobile-text::before {
				content: 'CLOSE';
			}
			.icon::before {
				content: '\f00d';
			}
		}
	}
	> div {
		border-left: 0.25rem solid rgb(153,197,211);
		background-color: rgb(255,255,255);
		box-shadow: -0.5em 0 0.25em rgba(0, 0, 0, 0.25);
		> div > ul {
			> li {
				position: relative;
				a, button {
					font-weight: 700;
					font-size: 1.25rem;
					text-decoration: none;
					color: var(--accent-black-2);
					display: inline-flex;
					padding: 0.75rem;
					border: 0;
					background-color: transparent;
					width: 100%;
				}
				> button {
					position: relative;
					&:after {
						content: "";
						border: 0.375rem solid transparent;
						border-left-color: rgba(black, 0.45);
						position: absolute;
						right: 0.5rem;
						top: 1.25rem;

					}
				}
				&.nav-uh button,
				&.nav-uh a {
					color: var(--main-red);
				}
				&.nav-uh .nav-back button {
					color: var(--accent-black-2);
				}
				&.nav-kids a {
					color: #df8d29;
				}
				&.nav-passport a {
					display: flex;
					align-items: center;
					svg {
						width: 9rem;
					}
				}
				> ul {
					position: fixed;
					height: 100vh;
					left: 105%;
					background-color: white;
					box-shadow: -0.5em 0 0.25em rgba(0,0,0, 0.25);
					top: 0;
					z-index: 903;
					overflow-x: hidden;
					overflow-y: scroll;
					transition: 280ms left ease-out;
					max-width: 100%;
					div.nav-top-head {
						font-weight: 700;
						font-size: 1.25rem;
						text-decoration: none;
						color: var(--accent-dark-blue-2);
						display: block;
						padding: 0 0 1rem 1rem;
						text-transform: uppercase;
						li a {
							text-transform: initial;
							font-size: 1rem;
						}
					}
				}
				&:focus-within > ul {
					left: 5.25em;
				}
			}
		}
		li.nav-back > button {
			width: 100%;
			background-color: rgb(242,243,243);
			color: var(--accent-black-2);
			padding: 1rem 1rem 1rem 1.75rem;
			font-size: 1.75rem;
			position: relative;
			transition: opacity .2s ease-out;
			border: 0;
			margin-bottom: 1rem;
			&:before {
				content: '<';
				display: inline-block;
				font-size: 1.75rem;
				position: absolute;
				left: 0.125rem;
				padding-right: 0.5rem;
				color: var(--accent-black-2);
			}
			&:hover {
				opacity: 0.75;
				cursor: pointer;
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
body.nav-active-menu {
	position: fixed;
}
#hm-top {
	background: rgb(35,74,147);
	&.townsquare {
		background: rgb(248,207,75);
		p {
			color: rgb(47,47,47);
			a {
				color: var(--main-red);
			}
		}
	}
	p {
		padding: 0.5rem;
		font-size: 1.125rem;
		color: rgb(236,246,251);
		text-align: center;
		span::after {
			content: "\A";
			display: block;
		}
		strong {
			font-weight: 700;
		}
		a {
			text-decoration: underline;
			color: rgb(232,141,61);
			font-weight: 700;
		}
	}
}
@media screen and (min-width: $tablet) {
	#masthead .site-branding .site-logo {
		margin: 1rem;
	}
}
@media screen and (min-width: $desktop) {
	#hm-top p span::after {
		content: "";
		display: inline;
	}
	nav#site-navigation {
		grid-column: 1/span 4;
		grid-row: 2;
		height: auto;
		top: initial;
		left: initial;
		display: block;
		overflow: visible;
		width: 100%;
		#top-mobile-menu {
			display: none;
		}
		> div {
			box-shadow: none;
			border-left: 0;
			> div > ul {
				display: grid;
				grid-auto-flow: column;
				> li {
					> a,button {
						justify-content: center;
						padding: 0.25rem 0.5rem;
					}
					> button:after {
						right: 2rem;
						top: 0.75rem;
						border-left-color: transparent;
						border-top-color: rgba(0,0,0, 0.45);
					}
					> ul {
						overflow: auto;
						border-radius: 0.25em;
						box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
						padding: 0.75em;
						height: auto;
						min-width: max-content;
						position: absolute;
						top: calc(100% - 0.25rem);
						left: 50%;
						transform: rotateX(-90deg) translateX(-50%);
						transform-origin: top center;
						opacity: 0.3;
						transition: 280ms all 120ms ease-out;
					}
					&:hover,
					&:focus-within {
						> ul {
							opacity: 1;
							transform: rotateX(0) translateX(-50%);
							visibility: visible;
							left: 50%;
						}
					}
				}
			}
		}
		.nav-back {
			display: none;
		}
		#top-search {
			display: none;
		}
		&:focus-within {
			position: static;
			left: initial;
			height: auto;
			width: 100%;
			#top-mobile-menu {
				display: none;
			}
		}
	}
	.container {
		width: 100%;
		background-color: white;
		border-bottom: 0.25rem solid rgb(163,204,216);
	}
	#masthead {
		.site-branding {
			background-color: transparent;
			grid-template-columns: 15rem auto 5rem 5rem;
			.site-logo a {
				background-image: url( https://cdn.hpm.io/assets/images/HPM-PBS-NPR-Color.png );
				background-position: left top;
			}
			section {
				grid-column: 2;
				grid-row: 1;
			}
		}
	}
}
@media screen and (min-width: $largeDesktop) {
	#hm-top p {
		font-size: 1.375rem;
	}
}




/*
body.nav-active-menu {
	position: static;
}
body.page-template-page-listen nav-active-menu {
	position: fixed;
}
.container {
	background-color: white;
	width: 100%;
	border-bottom: 0.25rem solid rgb(163,204,216);
	height: 7rem;
}
#content, #emergency {
	position: relative;
	max-width: 64rem;
	min-width: 51.25rem;
	margin: 0 auto;
}
#emergency {
	background-color: var(--main-red);
	color: white;
	max-width: 100%;
}
#emergency a {
	background-color: var(--main-red);
	color: white;
}
.page-template-page-blank #content {
	max-width: 100%;
	min-width: 100%;
}
.page-template-page-blank #main {
	min-height: initial;
}
#masthead {
	background-color: transparent;
	position: relative;
	max-width: 64rem;
	min-width: 51.25rem;
	margin: 0 auto;
	height: 7rem;
	overflow: visible;
}
#masthead .site-branding {
	background-color: transparent;
	flex-flow: row nowrap;
	align-items: flex-start;
	align-content: space-between;
	justify-content: space-between;
	display: flex;
	padding-top: 1rem;
}
#masthead .site-branding .site-logo a {
	background-image: url( https://cdn.hpm.io/assets/images/HPM-PBS-NPR-Color.png );
	background-position: left top;
}
body.page-template-page-listen #masthead,
body.page-template-page-listen .container {
	height: auto;
	border: 0;
	padding: 0;
}
body.page-template-page-listen #emergency {
	min-width: auto;
}
#masthead .site-branding .site-logo {
	height: 5rem;
	padding: 0.5rem 0 0 0.5rem;
	margin-left: 0;
}
body.page-template-page-listen #masthead .site-branding {
	padding-top: 0;
}
body.page-template-page-listen #masthead .site-branding .site-logo {
	padding: 0.5rem 0 0.5rem 0.75rem;
	width: 12rem;
}
body.page-template-page-listen #masthead .site-branding .site-logo a {
	background-image: url( https://cdn.hpm.io/assets/images/HPM-PBS-NPR-Reverse.png );
	background-position: left center;
}
#masthead #top-mobile-menu {
	display: none;
}
#masthead #top-listen,
#masthead nav#site-navigation,
#masthead #top-watch {
	display: block;
	background-color: transparent;
}
#masthead nav#site-navigation,
body.nav-active-menu #masthead nav#site-navigation {
	width: 100%;
	position: absolute;
	top: auto;
	left: auto;
	bottom: 0;
	border-left: 0;
	overflow: visible;
	height: auto;
}
#masthead nav#site-navigation ul {
	margin: 0;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
}
#masthead nav#site-navigation ul li {
	text-align: center;
	position: relative;
	flex: 1;
	flex-grow: 1;
	flex-basis: initial;
}
#masthead nav#site-navigation ul li.nav-top.nav-stations {
	display: block;
}
#masthead nav#site-navigation ul li ul li.nav-back {
	display: none;
}
li.nav-top.menu-item-has-children div.nav-top:after {
	content: '\f0d7';
	top: 0;
	padding: 0 0 0 0.25rem;
	float: none;
}
li.nav-top.menu-item-has-children.nav-active div.nav-top:after {
	content: '\f0d8';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: 900 .75rem/1 'Font Awesome 5 Free';
	position: relative;
	top: -0.25rem;
	padding-left: 0.25rem;
}
#masthead nav#site-navigation div.nav-top,
#masthead nav#site-navigation .nav-top a {
	font: 700 0.825rem/1rem var(--hpm-font-main);
	text-transform: uppercase;
	padding: 0.25rem 0;
	border-bottom: 0.25rem solid transparent;
	color: #868686;
}
#masthead nav#site-navigation .nav-top .sub-menu a {
	border: 0;
	background-color: transparent;
}
#masthead nav#site-navigation .nav-top.nav-active .nav-top {
	border-bottom: 0.25rem solid rgb(0,98,136);
}
#masthead nav#site-navigation .nav-top.nav-active ul {
	display: block;
}
#masthead nav#site-navigation ul li ul {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 999;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	top: 1.5rem;
	padding: 0.5rem 1rem 1rem;
	height: auto;
	transform: initial;
	transition: initial;
}
#masthead nav#site-navigation .nav-top ul li a {
	padding: 0.25rem 0;

}
#masthead nav#site-navigation .nav-top ul li ul li a {
	padding: 0.25rem 0;
}
#masthead nav#site-navigation ul li ul li.nav-topic-head,
#masthead nav#site-navigation ul li ul li.nav-topic-head-sub,
#masthead nav#site-navigation ul li ul li.nav-program,
#masthead nav#site-navigation ul li ul li.nav-program-sub {
	padding: 0;
}
#masthead nav#site-navigation ul li ul li ul {
	display: block;
	width: auto;
	position: static;
	top: auto;
	left: auto;
	box-shadow: initial;
	padding: 0;
}
#masthead nav#site-navigation ul li ul li div.nav-top-head {
	font: 100 1.0625rem/1.25rem var(--hpm-font-main);
	color: #55565a;
	padding: 0.25rem 0 0 0;
}
#masthead nav#site-navigation .nav-top.nav-passport a {
	justify-content: center;
	border-bottom: 0.25rem solid rgb(163,204,216);
}
#masthead nav#site-navigation .nav-top.nav-passport a svg {
	padding-bottom: 0.125rem;
}
#masthead nav#site-navigation .nav-top.nav-passport .nav-passport-icon {
	max-width: 1.25rem;
}

/* Nav-Stations
#masthead nav#site-navigation ul li.nav-stations ul {
	left: -18.5rem;
	width: 46rem;
}
#masthead nav#site-navigation ul li.nav-stations ul li {
	width: 25%;
	float: left;
	text-align: left;
	border: 0;
}
#masthead nav#site-navigation ul li.nav-stations ul li ul {
	width: auto;
}
#masthead nav#site-navigation ul li.nav-stations ul li a {
	color: rgb(0,98,136);
	font: 400 1.25rem/1.25rem var(--hpm-font-main);
	text-transform: uppercase;
}
#masthead nav#site-navigation ul li.nav-stations ul li ul li a {
	font: 400 1rem/1rem var(--hpm-font-main);
	text-transform: none;
}
#masthead nav#site-navigation ul li.nav-stations ul li ul li {
	padding: 0;
	width: 100%;
	float: none;
}
#masthead nav#site-navigation ul li.nav-stations ul li.nav-program-sub-all a {
	font: 400 0.875rem/1.25rem var(--hpm-font-main);
	color: rgb(75,76,80);
	text-transform: uppercase;
}
#masthead nav#site-navigation ul li.nav-stations ul li div.nav-top-head {
	padding: 1rem 0 0.5rem 0;
}

/* Nav-Topics
#masthead nav#site-navigation ul li.nav-topics ul {
	left: -20rem;
	width: 52rem;
}
#masthead nav#site-navigation ul li.nav-topics ul li {
	width: 25%;
	float: left;
	text-align: left;
	border: 0;
}
#masthead nav#site-navigation ul li.nav-topics ul li ul {
	width: auto;
}
#masthead nav#site-navigation ul li.nav-topics ul li a {
	color: #006d93;
	font: 400 1rem/1.25rem var(--hpm-font-main);
	text-transform: none;
	padding: 0.25rem 1.25rem 0.25rem 0;
}
#masthead nav#site-navigation ul li.nav-topics ul li ul li {
	padding: 0;
	float: none;
	width: 100%;
}

/* Nav-Programs
#masthead nav#site-navigation ul li.nav-programs ul {
	left: -12rem;
	width: 38rem;
}
#masthead nav#site-navigation ul li.nav-programs ul li {
	width: 33.3333%;
	padding: 0;
	float: left;
	text-align: left;
	border: 0;
}
#masthead nav#site-navigation ul li.nav-programs ul li ul {
	width: auto;
}
#masthead nav#site-navigation ul li.nav-programs ul li a {
	color: rgb(0,98,136);
	font: 400 1rem/1.25rem var(--hpm-font-main);
	text-transform: none;
	padding: 0.25rem 1.5rem 0.25rem 0;
}
#masthead nav#site-navigation ul li.nav-programs ul li ul li {
	padding: 0;
	float: none;
	width: 100%;
}

/* Nav-UH
#masthead nav#site-navigation ul li.nav-uh ul {
	right: 0;
	width: 12rem;
}

/* Nav-Education
#masthead nav#site-navigation ul li.nav-education ul,
#masthead nav#site-navigation ul li.nav-about ul {
	width: 12rem;
	left: -2.5rem;
}
#masthead nav#site-navigation ul li.nav-education ul li,
#masthead nav#site-navigation ul li.nav-about ul li{
	width: 100%;
	border: 0;
}
#masthead nav#site-navigation ul li.nav-education ul li a,
#masthead nav#site-navigation ul li.nav-about ul li a {
	color: rgb(0,98,136);
	font: 400 1.125rem/1.25rem var(--hpm-font-main);
	text-transform: none;
	padding: 0.25rem 0;
}

/* Nav-News
#masthead nav#site-navigation ul li.nav-news ul {
	left: 0;
	width: 40rem;
}
#masthead nav#site-navigation ul li.nav-news ul li {
	width: 25%;
	padding: 0;
	float: left;
	text-align: left;
	border: 0;
}
#masthead nav#site-navigation ul li.nav-news ul li ul {
	width: auto;
}
#masthead nav#site-navigation ul li.nav-news ul li a {
	color: rgb(0,98,136);
	font: 400 1rem/1.25rem var(--hpm-font-main);
	text-transform: none;
	padding: 0.25rem 1.5rem 0.25rem 0;
}
#masthead nav#site-navigation ul li.nav-news ul li ul li {
	padding: 0;
	float: none;
	width: 100%;
}

/* Nav-Support
#masthead nav#site-navigation ul li.nav-support ul {
	width: 12rem;
	left: -2rem;
}
#masthead nav#site-navigation ul li.nav-support ul li {
	width: 100%;
	border: 0;
}
#masthead nav#site-navigation ul li.nav-support ul li a {
	color: rgb(0,98,136);
	font: 400 1.125rem/1.25rem var(--hpm-font-main);
	text-transform: none;
	padding: 0.25rem 0;
}


/* Schedules

#masthead #top-schedule {
	position: static;
	width: auto;
	overflow: hidden;
	float: none;
	padding-top: 0.25rem;
}
#masthead #top-schedule div {
	float: left;
}
#masthead #top-schedule .top-schedule-links {
	width: auto;
	text-align: center;
	text-transform: none;
}
#masthead #top-schedule .top-schedule-link-wrap {
	display: block;
	position: static;
	width: auto;
}
#masthead #top-schedule div.top-schedule-label {
	background-color: transparent;
	text-align: right;
	text-transform: lowercase;
	width: auto;
}
#masthead #top-schedule div.top-schedule-label button:after {
	content: ':';
}
#masthead #top-schedule div.top-schedule-label button {
	color: #a6a9ab;
	font: 100 1rem/1.25rem var(--hpm-font-main);
	padding: 0;
	background-color: transparent;
	outline: 0;
	border: 0;
}
#masthead #top-schedule div.top-schedule-links a {
	font: 100 1rem/1.25rem var(--hpm-font-main);
	background-color: transparent;
	display: block;
	padding: 0 0.5rem;
	color: #10AFBB;
	border-left: 0;
	border-right: 0.125rem solid #a6a9ab;
	border-bottom: 0;
}
#masthead #top-schedule div.top-schedule-links:last-child a {
	border: 0;
}
#masthead #top-search {
	position: absolute;
	top: -4rem;
	width: auto;
	padding: 0;
	background-color: transparent;
	right: 0.5rem;
	z-index: 10;
}
#masthead #top-search .fa,
#masthead #top-search .fab,
#masthead #top-search .fas {
	top: -0.125rem;
	font-size: 1.625rem;
	left: -1rem;
}
#masthead #top-search .fa:hover,
#masthead #top-search .fab:hover,
#masthead #top-search .fas:hover {
	cursor: pointer;
}
#masthead #top-search .search-form {
	display: none;
	position: absolute;
	top: 2.5rem;
	right: 0;
}
#masthead #top-search .search-form.search-active {
	display: block;
}
#masthead #top-search .search-field {
	border-bottom: 0.125rem solid #55565a;
	background-color: transparent;
	padding: 0 0.25rem;
	width: 13rem;
	font: 100 1rem/1rem var(--hpm-font-main);
}
body #masthead #top-donate {
	position: static;
	width: auto;
	height: auto;
	padding: 0.25rem 0.5rem;
	font-size: 1.25rem;
	line-height: 1rem;
	font-family: var(--hpm-font-main);
	margin: 0 3rem 0 1.5rem;
	border: 1px solid transparent;
	font-weight: 900;
	background-color: var(--main-red);
}
body #masthead #top-donate br {
	display: none;
}
body #masthead #top-donate .fas {
	font-size: 0.85rem;
}
#masthead span.top-mobile-text {
	font-size: 100%;
	padding-left: 0.25rem;
	font-weight: 700;
}
body.page-template-page-listen #masthead span.top-mobile-text {
	font-size: 60%;
	padding: 0;
}
#masthead #top-listen,
#masthead #top-watch {
	position: static;
	text-align: left;
	width: auto;
}
#masthead #top-schedule .fa,
#masthead #top-schedule .fab,
#masthead #top-schedule .fas {
	display: none;
}
#masthead #top-listen button, #masthead #top-watch button {
	padding: 0.25rem 0.5rem;
	font-size: 125%;
	background-color: transparent;
	border: 1px solid var(--accent-light-blue-1);
	color: var(--accent-light-blue-1);
}
#masthead #top-listen button .fas, #masthead #top-watch button .fas {
	font-size: 85%;
}
#masthead #header-social {
	display: block;
	position: relative;
	top: 0rem;
	margin: 0 0 0 3rem;
} */